body {
  font-family: sans-serif;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  margin: auto;
  display: flex;
}
#container {
  width: 100vw;
  height:  100vh;
}

p{
  margin-bottom: 1%;
}

img{
  width: 50%;
  text-align: center;
}

.infoApi{
  margin-bottom: 10%;
}

.article__title{
  font-size: 20pt;
  font-style: italic;
  margin-bottom: 2%;
}

.article__paragraph{
  font-size: 14pt;
}

.article_like{
  font-size: 14pt;
}

.active{
  background-color: #ff3d00;
}