body {
  font-family: sans-serif;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  margin: auto;
  display: flex;
}
#container {
  width: 100vw;
  height:  100vh;
}

img{
  width: 70%;
  text-align: center;
  margin-bottom: 2%;
}

.infoApi{
  margin-bottom: 10%;
}

.article__title{
  font-size: 20pt;
  font-style: italic;
  margin-bottom: 5%;
}

.article__paragraph{
  font-size: 14pt;
}
